<div class="container px-72">
    <form action="products" method="post">
        <div class="inline">
            <div class="mb-3">
                <label for="name" class="">Name</label>
                <input type="text" class="border border-black rounded" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="price" class="">Price</label>
                <input type="price" class="border border-black rounded" id="price" name="price" required>
            </div>
            <div class="mb-3">
                <label for="stock" class="">Stock</label>
                <input type="stock" class="border border-black rounded" id="stock" name="stock" required>
            </div>
            <div class="text-center m-4 bg-green-400 rounded">
                <button type="submit" class="btn w-50">Add</button>
            </div>
            <div class="text-center m-4 bg-red-500">
                <button type="reset" class="btn w-50 rounded">Clear</button>
            </div>
        </div>
    </form>
</div>