<nav class="w-full fixed bg-teal-300">
    <div class="">
        <div class="h-16 p-4 content-center">
            <div class="flex justify-evenly content-center">
                <div class="border basis-1/4">
                    <input type="text" placeholder="Buscar">
                </div>
                <div class="border basis-1/4">
                    <p class="w-auto">LOGO</p>
                </div>
                <div class="border basis-1/4">
                    <p class="w-auto">carrito-ico</p>
                </div>
            </div>
        </div>
        <div class="p-4">
            <ul class="flex w-full justify-center gap-12">
                <li><a href="/">Inicio</a></li>
                <li><a href="products">Productos</a></li>
                <li><a href="#contacts">Contacto</a></li>
                {{!-- <li><a href="#">Nosotros</a></li> --}}
            </ul>
        </div>
    </div>
</nav>